<!DOCTYPE html>
<html ng-app="NarrowItDownApp">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <script src="angular.min.js"></script>
    <script src="app.js"></script>
    <title>NarrowItDownApp</title>
</head>
<body>
    <div ng-controller="NarrowItDownController as narrow" class="container">
        <h1>NarrowItDownApp</h1>
        <div class="inputs">
            <span>Description: <input ng-model="narrow.desc"></span>
            <button ng-click="narrow.search()">Narrow It Down For Me!</button>
        </div>
        
        <found-items items = "narrow.items" error="narrow.error"></found-items>

    </div>
</body>
</html>